<p id="notice"><%= notice %></p>

<h1>Arrays</h1>

<table>
  <thead>
    <tr>
      <td>N</th>
      <td width=50>Array</th>
      <td width = 50>Absence number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td width=50><%= test.N %></td>
        <td width=200><%= test.Array %></td>
        <td width=200><%= test.Absence %></td>
        <!--
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        -->
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Array', new_test_path %>
